.header-bar{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 3px solid #075E54;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 1px 18px -2px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 1px 18px -2px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 1px 18px -2px rgba(0, 0, 0, 0.54);
}

.header-bar .logo img{
    /* width: 5px; */
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-bar .title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #075E54;
}

#about{
    width: 100%;
    /* height: 150px; */
    background: #19a5f2;
    background: linear-gradient(190deg, #25D366 0%, #34B7F1 33%, #075E54 95%);
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

span.event-date{
    font-size: 14px;
    display: block;
}