/* Template Name: Deoxa - Responsive Bootstrap 4 Landing Page Template
   Author: Themesdesign
   Version: 1.0.0
   Created: Jan 2019
   File Description: Main Css file of the template
*/
/**********************
01. General
02. Menu
03. Components
04. Helper
05. Loader
06. Hero
07. Services
08. Features
09. Counter
10. Testimonial
11. Contact
12. Subscribe
13. Footer
***********************/
/* 
// variables.scss
*/
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");
/* 
// 1. General
*/
a {
  text-decoration: none !important;
  outline: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: #343a40;
  background: #ffffff;
  font-size: 15px;
}

p {
  line-height: 1.8;
}

/* 
// 2. Menu
*/
.nav-item .nav-link {
  display: inline-block;
  color: #343a40;
  text-decoration: none;
}

.navbar-custom {
  padding: 14px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}

.navbar-custom .logo .logo-dark {
  display: none;
}

.navbar-custom .logo .ligo-light {
  display: inline-block;
}

.navbar-custom .navbar-nav li a {
  line-height: 26px;
  color: #8e9cb1;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 20px;
}

.navbar-custom .navbar-nav li .nav-link {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
  color: #2558ab !important;
}

.navbar-custom .navbar-toggles {
  padding: 0 !important;
  font-size: 18px;
  background: 0 0;
  border: 1px solid transparent;
  color: #ffffff;
  outline: 0;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #2558ab;
}

.menu-toggle {
  padding: 4.5px 10px !important;
}

.menu-toggle span {
  line-height: 27px;
}

/*---NAVBAR STICKY--*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  color: #000000 !important;
}

.nav-sticky.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  border: 1px solid transparent;
  outline: 0;
}

.nav-sticky.navbar-custom .navbar-nav {
  margin-top: 0px;
}

.nav-sticky.navbar-custom .navbar-nav li a {
  color: #8b99ae !important;
}

.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active {
  color: #2558ab !important;
}

.nav-sticky .call-no a {
  color: #D71149 !important;
}

.nav-sticky .logo .logo-dark {
  display: inline-block !important;
}

.nav-sticky .logo .logo-light {
  display: none !important;
}

.navbar-toggler:focus {
  outline: none;
}

/*---NAVBAR LIGHT--*/
.navbar-light .navbar-nav li a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.navbar-light .navbar-nav li.active a,
.navbar-light .navbar-nav li a:hover,
.navbar-light .navbar-nav li a:active {
  color: #ffffff !important;
}

/*---Responsive--*/
@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    margin-top: 0px;
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    color: #ffffff !important;
  }
  .navbar-custom .navbar-nav {
    margin-top: 0px;
  }
  .navbar-custom .navbar-nav li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #9da9bb !important;
    margin: 0px;
  }
  .navbar-custom .navbar-nav li.active a {
    border-color: transparent;
  }
  .navbar-custom .navbar-nav li.active a,
  .navbar-custom .navbar-nav li a:hover,
  .navbar-custom .navbar-nav li a:active {
    color: #2558ab !important;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-custom .logo .logo-dark {
    display: inline-block !important;
  }
  .navbar-custom .logo .logo-light {
    display: none !important;
  }
  .navbar-custom.navbar-light .navbar-nav li.active a,
  .navbar-custom.navbar-light .navbar-nav li a:hover,
  .navbar-custom.navbar-light .navbar-nav li a:active {
    color: #343a40 !important;
  }
  .navbar-custom .call-no a {
    padding-left: 0 !important;
    color: #D71149 !important;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #343a40;
  }
  .navbar-light .nav-item .nav-link:after {
    background: #343a40;
  }
}

/* 
// 03.Components
*/
.btn {
  border-radius: 4px;
  padding: 12px 34px;
  font-size: 15px !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn.btn-lg {
  padding: 10px 22px !important;
  font-size: 18px !important;
}

.btn.btn-sm {
  padding: 8px 16px !important;
  font-size: 14px !important;
}

.btn.btn-primary {
  background-color: #2558ab !important;
  border: 1px solid #2558ab !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary.active {
  background-color: #22529e !important;
  border: 1px solid #22529e !important;
  color: #ffffff !important;
}

.btn.btn-outline-primary {
  border: 1px solid #2558ab !important;
  color: #2558ab !important;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary.focus, .btn.btn-outline-primary:active, .btn.btn-outline-primary.active {
  background-color: #2558ab !important;
  border: 1px solid #2558ab !important;
  -webkit-box-shadow: 0 3px 10px rgba(37, 88, 171, 0.5);
          box-shadow: 0 3px 10px rgba(37, 88, 171, 0.5);
  color: #ffffff !important;
}

.btn.btn-secondary {
  background-color: #6c757d !important;
  border: 1px solid #6c757d !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary.focus, .btn.btn-secondary:active, .btn.btn-secondary.active {
  background-color: #656d75 !important;
  border: 1px solid #656d75 !important;
  color: #ffffff !important;
}

.btn.btn-outline-secondary {
  border: 1px solid #6c757d !important;
  color: #6c757d !important;
}

.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:focus, .btn.btn-outline-secondary.focus, .btn.btn-outline-secondary:active, .btn.btn-outline-secondary.active {
  background-color: #6c757d !important;
  border: 1px solid #6c757d !important;
  -webkit-box-shadow: 0 3px 10px rgba(108, 117, 125, 0.5);
          box-shadow: 0 3px 10px rgba(108, 117, 125, 0.5);
  color: #ffffff !important;
}

.btn.btn-success {
  background-color: #15d68c !important;
  border: 1px solid #15d68c !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success.focus, .btn.btn-success:active, .btn.btn-success.active {
  background-color: #14c883 !important;
  border: 1px solid #14c883 !important;
  color: #ffffff !important;
}

.btn.btn-outline-success {
  border: 1px solid #15d68c !important;
  color: #15d68c !important;
}

.btn.btn-outline-success:hover, .btn.btn-outline-success:focus, .btn.btn-outline-success.focus, .btn.btn-outline-success:active, .btn.btn-outline-success.active {
  background-color: #15d68c !important;
  border: 1px solid #15d68c !important;
  -webkit-box-shadow: 0 3px 10px rgba(21, 214, 140, 0.5);
          box-shadow: 0 3px 10px rgba(21, 214, 140, 0.5);
  color: #ffffff !important;
}

.btn.btn-info {
  background-color: #59dbff !important;
  border: 1px solid #59dbff !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info.focus, .btn.btn-info:active, .btn.btn-info.active {
  background-color: #4ad8ff !important;
  border: 1px solid #4ad8ff !important;
  color: #ffffff !important;
}

.btn.btn-outline-info {
  border: 1px solid #59dbff !important;
  color: #59dbff !important;
}

.btn.btn-outline-info:hover, .btn.btn-outline-info:focus, .btn.btn-outline-info.focus, .btn.btn-outline-info:active, .btn.btn-outline-info.active {
  background-color: #59dbff !important;
  border: 1px solid #59dbff !important;
  -webkit-box-shadow: 0 3px 10px rgba(89, 219, 255, 0.5);
          box-shadow: 0 3px 10px rgba(89, 219, 255, 0.5);
  color: #ffffff !important;
}

.btn.btn-warning {
  background-color: #D71149 !important;
  border: 1px solid #D71149 !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning.focus, .btn.btn-warning:active, .btn.btn-warning.active {
  background-color: #ff7448 !important;
  border: 1px solid #ff7448 !important;
  color: #ffffff !important;
}

.btn.btn-outline-warning {
  border: 1px solid #D71149 !important;
  color: #D71149 !important;
}

.btn.btn-outline-warning:hover, .btn.btn-outline-warning:focus, .btn.btn-outline-warning.focus, .btn.btn-outline-warning:active, .btn.btn-outline-warning.active {
  background-color: #D71149 !important;
  border: 1px solid #D71149 !important;
  -webkit-box-shadow: 0 3px 10px rgba(255, 128, 87, 0.5);
          box-shadow: 0 3px 10px rgba(255, 128, 87, 0.5);
  color: #ffffff !important;
}

.btn.btn-danger {
  background-color: #ee4a4a !important;
  border: 1px solid #ee4a4a !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger.focus, .btn.btn-danger:active, .btn.btn-danger.active {
  background-color: #ed3c3c !important;
  border: 1px solid #ed3c3c !important;
  color: #ffffff !important;
}

.btn.btn-outline-danger {
  border: 1px solid #ee4a4a !important;
  color: #ee4a4a !important;
}

.btn.btn-outline-danger:hover, .btn.btn-outline-danger:focus, .btn.btn-outline-danger.focus, .btn.btn-outline-danger:active, .btn.btn-outline-danger.active {
  background-color: #ee4a4a !important;
  border: 1px solid #ee4a4a !important;
  -webkit-box-shadow: 0 3px 10px rgba(238, 74, 74, 0.5);
          box-shadow: 0 3px 10px rgba(238, 74, 74, 0.5);
  color: #ffffff !important;
}

.btn.btn-dark {
  background-color: #343a40 !important;
  border: 1px solid #343a40 !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark.focus, .btn.btn-dark:active, .btn.btn-dark.active {
  background-color: #2d3238 !important;
  border: 1px solid #2d3238 !important;
  color: #ffffff !important;
}

.btn.btn-outline-dark {
  border: 1px solid #343a40 !important;
  color: #343a40 !important;
}

.btn.btn-outline-dark:hover, .btn.btn-outline-dark:focus, .btn.btn-outline-dark.focus, .btn.btn-outline-dark:active, .btn.btn-outline-dark.active {
  background-color: #343a40 !important;
  border: 1px solid #343a40 !important;
  -webkit-box-shadow: 0 3px 10px rgba(52, 58, 64, 0.5);
          box-shadow: 0 3px 10px rgba(52, 58, 64, 0.5);
  color: #ffffff !important;
}

.btn.btn-muted {
  background-color: #9da9bb !important;
  border: 1px solid #9da9bb !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-muted:hover, .btn.btn-muted:focus, .btn.btn-muted.focus, .btn.btn-muted:active, .btn.btn-muted.active {
  background-color: #94a1b5 !important;
  border: 1px solid #94a1b5 !important;
  color: #ffffff !important;
}

.btn.btn-outline-muted {
  border: 1px solid #9da9bb !important;
  color: #9da9bb !important;
}

.btn.btn-outline-muted:hover, .btn.btn-outline-muted:focus, .btn.btn-outline-muted.focus, .btn.btn-outline-muted:active, .btn.btn-outline-muted.active {
  background-color: #9da9bb !important;
  border: 1px solid #9da9bb !important;
  -webkit-box-shadow: 0 3px 10px rgba(157, 169, 187, 0.5);
          box-shadow: 0 3px 10px rgba(157, 169, 187, 0.5);
  color: #ffffff !important;
}

.btn.btn-light {
  background-color: #f7f9fe !important;
  border: 1px solid #f7f9fe !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light.focus, .btn.btn-light:active, .btn.btn-light.active {
  background-color: #e9effc !important;
  border: 1px solid #e9effc !important;
  color: #ffffff !important;
}

.btn.btn-outline-light {
  border: 1px solid #f7f9fe !important;
  color: #f7f9fe !important;
}

.btn.btn-outline-light:hover, .btn.btn-outline-light:focus, .btn.btn-outline-light.focus, .btn.btn-outline-light:active, .btn.btn-outline-light.active {
  background-color: #f7f9fe !important;
  border: 1px solid #f7f9fe !important;
  -webkit-box-shadow: 0 3px 10px rgba(247, 249, 254, 0.5);
          box-shadow: 0 3px 10px rgba(247, 249, 254, 0.5);
  color: #ffffff !important;
}

.btn.btn-body-bg {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-body-bg:hover, .btn.btn-body-bg:focus, .btn.btn-body-bg.focus, .btn.btn-body-bg:active, .btn.btn-body-bg.active {
  background-color: #f7f7f7 !important;
  border: 1px solid #f7f7f7 !important;
  color: #ffffff !important;
}

.btn.btn-outline-body-bg {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}

.btn.btn-outline-body-bg:hover, .btn.btn-outline-body-bg:focus, .btn.btn-outline-body-bg.focus, .btn.btn-outline-body-bg:active, .btn.btn-outline-body-bg.active {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
  color: #ffffff !important;
}

.btn.btn-black {
  background-color: #000000 !important;
  border: 1px solid #000000 !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-black:hover, .btn.btn-black:focus, .btn.btn-black.focus, .btn.btn-black:active, .btn.btn-black.active {
  background-color: black !important;
  border: 1px solid black !important;
  color: #ffffff !important;
}

.btn.btn-outline-black {
  border: 1px solid #000000 !important;
  color: #000000 !important;
}

.btn.btn-outline-black:hover, .btn.btn-outline-black:focus, .btn.btn-outline-black.focus, .btn.btn-outline-black:active, .btn.btn-outline-black.active {
  background-color: #000000 !important;
  border: 1px solid #000000 !important;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: #ffffff !important;
}

.btn.btn-white {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16);
}

.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white.focus, .btn.btn-white:active, .btn.btn-white.active {
  background-color: #f7f7f7 !important;
  border: 1px solid #f7f7f7 !important;
  color: #ffffff !important;
}

.btn.btn-outline-white {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white.focus, .btn.btn-outline-white:active, .btn.btn-outline-white.active {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
  color: #ffffff !important;
}

.btn.btn-light {
  background-color: #f7f9fe;
  border: 1px solid #f7f9fe;
  color: #343a40 !important;
}

.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light.focus, .btn.btn-light:active, .btn.btn-light.active {
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: 0 0 0 2px rgba(247, 249, 254, 0.08);
          box-shadow: 0 0 0 2px rgba(247, 249, 254, 0.08);
  color: #343a40 !important;
}

.btn.btn-outline-light {
  border: 1px solid #f7f9fe;
  color: #f7f9fe !important;
}

.btn.btn-outline-light:hover, .btn.btn-outline-light:focus, .btn.btn-outline-light.focus, .btn.btn-outline-light:active, .btn.btn-outline-light.active {
  background-color: #f7f9fe;
  border: 1px solid #f7f9fe;
  color: #343a40 !important;
}

/* 
// 04.Helper
*/
.text-primary {
  color: #2558ab !important;
}

.bg-primary {
  background-color: #2558ab !important;
}

.text-secondary {
  color: #6c757d !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.text-success {
  color: #15d68c !important;
}

.bg-success {
  background-color: #15d68c !important;
}

.text-info {
  color: #59dbff !important;
}

.bg-info {
  background-color: #59dbff !important;
}

.text-warning {
  color: #D71149 !important;
}

.bg-warning {
  background-color: #D71149 !important;
}

.text-danger {
  color: #ee4a4a !important;
}

.bg-danger {
  background-color: #ee4a4a !important;
}

.text-dark {
  color: #343a40 !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-muted {
  color: #9da9bb !important;
}

.bg-muted {
  background-color: #9da9bb !important;
}

.text-light {
  color: #f7f9fe !important;
}

.bg-light {
  background-color: #f7f9fe !important;
}

.text-body-bg {
  color: #ffffff !important;
}

.bg-body-bg {
  background-color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}

.bg-black {
  background-color: #000000 !important;
}

.text-white {
  color: #ffffff !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.text-white-70 {
  color: rgba(255, 255, 255, 0.7);
}

.text-lighten-warning {
  color: rgba(255, 128, 87, 0.5);
}

.bg-gradient-primary {
  background: linear-gradient(-45deg, #2558ab 0%, #59dbff 100%);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.bg-overlay {
  background: #000000;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bg-overlay.op-75 {
  opacity: 0.75;
}

.font-weight-medium {
  font-weight: 500;
}

.line-height-1_6 {
  line-height: 1.6;
}

.line-height-1_4 {
  line-height: 1.4;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px;
}

.f-17 {
  font-size: 17px;
}

.f-18 {
  font-size: 18px;
}

.f-19 {
  font-size: 19px;
}

.f-20 {
  font-size: 20px;
}

.right-icon {
  line-height: 0;
  font-size: 22px;
}

.hero-bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/* 
// 05.Loader
*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right bottom, left top, from(#2558ab), to(#59dbff));
  background: linear-gradient(to top left, #2558ab 0%, #59dbff 100%);
  z-index: 9999999;
}

#preloader #status {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* 
// 06. Hero
*/
.hero-1-bg {
  padding: 170px 0 200px;
}

.hero-2-bg {
  padding: 170px 0 180px;
}

.hero-2-bg .hero-2-content {
  position: relative;
  z-index: 1;
}

.hero-2-bg .hero-2-bg-overlay {
  background-image: url("../images/hero-2-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-3-bg {
  padding: 170px 0 0;
}

.hero-3-bg .hero-3-img {
  margin-top: 90px;
}

.hero-3-bg .hero-3-bg-overlay {
  background-image: url("../images/hero-3-bg.png");
  background-repeat: no-repeat;
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-4-bg {
  padding: 210px 0 190px;
}

.hero-4-bg .hero-4-bg-overlay {
  background-image: url("../images/hero-4-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-4-bg .hero-login-form {
  -webkit-box-shadow: 0 4px 14px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 14px 0px rgba(0, 0, 0, 0.1);
}

.hero-4-bg .hero-login-form .registration-form label {
  color: #acb6c5;
}

.hero-5-bg .bd-example {
  z-index: 1;
}

.hero-5-bg .bd-example .carousel-item {
  padding: 280px 0 260px;
}

.hero-5-bg .bd-example .carousel-indicators {
  bottom: 50px;
}

.hero-5-bg .bd-example .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
}

.hero-5-bg .bd-example .carousel-indicators .active {
  border: 4px solid transparent;
  -webkit-box-shadow: 0 0 1px #ffffff;
          box-shadow: 0 0 1px #ffffff;
}

.hero-5-bg .bd-example .carousel-caption {
  position: relative;
  left: 0;
  right: 0;
}

.hero-6-bg {
  background-size: cover !important;
}

.hero-6-bg .hero-6-title-content {
  position: relative;
  z-index: 1;
}

@media (max-width: 576px) {
  .hero-1-bg {
    padding: 120px 0 70px;
  }
  .hero-1-bg .hero-1-title {
    font-size: 38px !important;
  }
  .hero-2-title {
    font-size: 34px;
  }
  .hero-3-title,
  .hero-4-title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .hero-2-bg {
    padding: 130px 0;
  }
  .hero-4-bg {
    padding: 130px 0 90px;
  }
  .hero-5-bg .carousel-item {
    padding: 140px 0 !important;
  }
  .hero-6-bg {
    height: auto !important;
    padding: 130px 0 90px !important;
  }
}

/* 
// 07. Services
*/
.service-box {
  border-radius: 10px;
  padding: 28px 29px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service-box .service-icon {
  font-size: 44px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service-box .read-more-icon .right-icon {
  font-size: 30px !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service-box:before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10%;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service-box:after {
  content: "";
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10%;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service-box:hover .service-icon {
  color: #ffffff;
}

.service-box:hover .service-title {
  color: #ffffff !important;
}

.service-box:hover .right-icon {
  color: #ffffff;
}

.service-box:hover .service-subtitle {
  color: rgba(255, 255, 255, 0.7) !important;
}

.service-box:hover:before {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  border-radius: 0;
}

.service-box:hover:after {
  background: rgba(255, 255, 255, 0.06);
  height: 100px;
  width: 100px;
}

.service-primary .service-icon, .service-primary .right-icon {
  color: #2558ab;
}

.service-primary:before {
  background: rgba(37, 88, 171, 0.05);
}

.service-primary:hover:before {
  background: #2558ab;
}

.service-secondary .service-icon, .service-secondary .right-icon {
  color: #6c757d;
}

.service-secondary:before {
  background: rgba(108, 117, 125, 0.05);
}

.service-secondary:hover:before {
  background: #6c757d;
}

.service-success .service-icon, .service-success .right-icon {
  color: #15d68c;
}

.service-success:before {
  background: rgba(21, 214, 140, 0.05);
}

.service-success:hover:before {
  background: #15d68c;
}

.service-info .service-icon, .service-info .right-icon {
  color: #59dbff;
}

.service-info:before {
  background: rgba(89, 219, 255, 0.05);
}

.service-info:hover:before {
  background: #59dbff;
}

.service-warning .service-icon, .service-warning .right-icon {
  color: #D71149;
}

.service-warning:before {
  background: rgba(255, 128, 87, 0.05);
}

.service-warning:hover:before {
  background: #D71149;
}

.service-danger .service-icon, .service-danger .right-icon {
  color: #ee4a4a;
}

.service-danger:before {
  background: rgba(238, 74, 74, 0.05);
}

.service-danger:hover:before {
  background: #ee4a4a;
}

.service-dark .service-icon, .service-dark .right-icon {
  color: #343a40;
}

.service-dark:before {
  background: rgba(52, 58, 64, 0.05);
}

.service-dark:hover:before {
  background: #343a40;
}

.service-muted .service-icon, .service-muted .right-icon {
  color: #9da9bb;
}

.service-muted:before {
  background: rgba(157, 169, 187, 0.05);
}

.service-muted:hover:before {
  background: #9da9bb;
}

.service-light .service-icon, .service-light .right-icon {
  color: #f7f9fe;
}

.service-light:before {
  background: rgba(247, 249, 254, 0.05);
}

.service-light:hover:before {
  background: #f7f9fe;
}

.service-body-bg .service-icon, .service-body-bg .right-icon {
  color: #ffffff;
}

.service-body-bg:before {
  background: rgba(255, 255, 255, 0.05);
}

.service-body-bg:hover:before {
  background: #ffffff;
}

.service-black .service-icon, .service-black .right-icon {
  color: #000000;
}

.service-black:before {
  background: rgba(0, 0, 0, 0.05);
}

.service-black:hover:before {
  background: #000000;
}

.service-white .service-icon, .service-white .right-icon {
  color: #ffffff;
}

.service-white:before {
  background: rgba(255, 255, 255, 0.05);
}

.service-white:hover:before {
  background: #ffffff;
}

/* 
// 08. Features
*/
.features-box {
  background: rgba(255, 255, 255, 0.025);
  border-radius: 6px;
}

.features-box .features-icon {
  background: #D71149;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  font-size: 30px;
  position: relative;
}

.features-box .features-icon:before {
  content: "";
  height: 60px;
  width: 60px;
  background: rgba(255, 128, 87, 0.1);
  position: absolute;
  left: 7px;
  top: -16px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  z-index: -1;
  border-radius: 6px;
}

/* 
// 09. Counter
*/
.counter-box .counter-icon {
  background: rgba(255, 255, 255, 0.02);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  line-height: 90px;
  text-align: center;
  font-size: 46px;
  -webkit-box-shadow: 0 3px 0px rgba(255, 255, 255, 0.2);
          box-shadow: 0 3px 0px rgba(255, 255, 255, 0.2);
}

/* 
// 10. Testimonial
*/
.testi-border {
  background: #D71149;
  height: 2px;
  width: 20%;
}

.owl-carousel .testi-content .testi-box {
  -webkit-box-shadow: 2px 2px 10px rgba(52, 58, 64, 0.08);
          box-shadow: 2px 2px 10px rgba(52, 58, 64, 0.08);
  border-radius: 6px;
}

.owl-carousel .testi-content .testi-user img {
  max-width: 48px;
}

.owl-carousel .owl-nav {
  display: none;
}

.owl-carousel .owl-dot {
  margin-top: 20px;
}

.owl-carousel .owl-dot:focus {
  outline: none;
}

.owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 4px;
  background-color: rgba(255, 128, 87, 0.4);
}

.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
  width: 20px;
  height: 4px;
  background-color: #D71149;
}

/* 
// 11. Contact
*/
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f7f9fe;
  border-color: #D71149;
}

.form-control {
  padding: 18px 14px;
  font-size: 14px;
  background-color: rgba(52, 58, 64, 0.01);
  border: 1px solid rgba(157, 169, 187, 0.2);
}

.form-control::-webkit-input-placeholder {
  color: #afb9c8;
  font-size: 14px;
}

.form-control:-ms-input-placeholder {
  color: #afb9c8;
  font-size: 14px;
}

.form-control::-ms-input-placeholder {
  color: #afb9c8;
  font-size: 14px;
}

.form-control::placeholder {
  color: #afb9c8;
  font-size: 14px;
}

.error {
  margin: 8px 0px;
  display: none;
  color: #ee4a4a;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #ee4a4a;
  color: #ee4a4a;
  border-radius: 5px;
  font-size: 14px;
}

.contact-loader {
  display: none;
}

/* 
// 12. Subscribe
*/
.subscribe-icon:after {
  content: "\F415";
  font-family: "Material Design Icons";
  position: absolute;
  font-size: 24px;
  right: 0;
  color: #D71149;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.subscribe-form input {
  padding: 13px 20px;
  width: 100%;
  font-size: 17px;
  color: #343a40 !important;
  border: none;
  outline: none !important;
  padding-right: 180px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.subscribe-form input::-webkit-input-placeholder {
  color: #bbc3d0;
  font-size: 15px;
}

.subscribe-form input:-ms-input-placeholder {
  color: #bbc3d0;
  font-size: 15px;
}

.subscribe-form input::-ms-input-placeholder {
  color: #bbc3d0;
  font-size: 15px;
}

.subscribe-form input::placeholder {
  color: #bbc3d0;
  font-size: 15px;
}

.subscribe-form .btn {
  position: absolute;
  right: 0px;
  outline: none !important;
  border-radius: 30px;
  padding: 13px 38px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 16px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.subscribe-form form {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

/* 
// 13. Footer
*/
.footer {
  padding: 60px 0 24px;
  position: relative;
}

.footer .company-sub-menu li {
  padding: 8px 0;
}

.footer .company-sub-menu li a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #b5becc;
}

.footer .company-sub-menu li a:hover {
  color: #D71149 !important;
  margin-left: 6px;
}

.footer .footer-social-list a {
  border: 1px solid #d9dee5;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
  color: #bbc3d0;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer-social-list a:hover {
  background: #D71149;
  color: #ffffff;
  border-color: #D71149;
  -webkit-box-shadow: 0 0 2px 7px rgba(255, 128, 87, 0.15);
          box-shadow: 0 0 2px 7px rgba(255, 128, 87, 0.15);
}
/*# sourceMappingURL=style.css.map */